<div class="container">
  <h1>Create a new person!</h1>

  <form action="/people" method="post">

    <label>Name<input type="text" name="people[name]"></label><br>


    <label>Age<input type="text" name="people[age]"></label><br>

    <input type="submit" name="click me!">


  </form>

</div>
