<div class="container">
  <h1>Welcome to All the King's Tweets!</h1>
  <p>You want to see some tweets friend?</p>
  <form action='/tweets' method="GET">
    <label for="input_username">enter twitter username who's tweets you'd like to see: <input type="text" name="username" id="input_username"></label>
    <input type="submit">
    </form>
    <p>You want to tweet it out friend?</p>
    <form action='/send_a_tweet' method="POST">
    <label for="tweet_to_send">enter what you'd like to tweet: <input type="text" name="tweet_to_send" id="tweet_to_send"></label>
    <input type="submit">
    </form>
</div>













































