<div class="container">

 
  <% @recent_user_tweets.each do |tweet|  %>
    <ul>
      <li><%= tweet.text %></li>
    </ul>

    <% end %>


   <p> <a href="/">look up another tweeter or send a tweet!<a></p>

</div>























